.mat-card-customize{
    height: 45%;
    width: 60%;
}
.card-one{
    background-color: red;
}
.card-two{
    background-color: rgb(185, 154, 16);
}
.card-three{
    background-color: rgb(15, 116, 116);
}
.number-style{
    margin-left: 44%;
    margin-top: 35%;
    font-size: 42px;
}